.backgroundmains {

    background: rgb(9, 121, 36);
    background: -moz-linear-gradient(90deg, rgba(9, 121, 36, 1) 23%, rgba(9, 121, 36, 1) 25%, rgba(9, 121, 36, 1) 61%, rgba(60, 175, 4, 1) 81%);
    background: -webkit-linear-gradient(90deg, rgba(9, 121, 36, 1) 23%, rgba(9, 121, 36, 1) 25%, rgba(9, 121, 36, 1) 61%, rgba(60, 175, 4, 1) 81%);
    background: linear-gradient(90deg, rgba(9, 121, 36, 1) 23%, rgba(9, 121, 36, 1) 25%, rgba(9, 121, 36, 1) 61%, rgba(60, 175, 4, 1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#097924", endColorstr="#3caf04", GradientType=1);



}