@import'../mediaqueries/mediaqueries.scss';

.parrafoHistoria {


      @include for-phone-only {

            height: auto;
            flex-direction: column;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;



}

.parrafoHistoria p {

      padding: 15px 15px;
      margin-right: 10px;

}




.parrafoHistoria img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      object-fit: cover;
}

.parrafoHistoria p {
      width: 75%;

}