@import'../mediaqueries/mediaqueries.scss';

.presidentes-imagenes{


   @include for-phone-only {
 
      height: auto;
      flex-direction: column;
      
   
  
}


    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    background-color: lightgoldenrodyellow;
    padding: 10px 10px;
    margin-top: 85px;
    
 
}

.presidentes-imagenes img{
   width: 100px;
   height: 100px;  
   border-radius: 100%;
   object-fit: cover;
   margin-right: 75px;
   margin-left: 75px;  
  

}

.presidentes-imagenes p{
   width: 75%;
   
}