@import '../general/mainbackgrounds.scss';

/*---------------------carrousel home------------------------*/

#sectionCarruselIndex {
   margin-top: 5px;
   padding: 25px 25px;
   /*background-color: lightgoldenrodyellow;*/
   @extend .backgroundmains;
   height: 600px;
}



.carousel-item img {

   width: 15px;
   height: 500px;
   object-fit: cover;

}

/*---------------------------------------------------*/





#sectioncarruselhistoria {
   margin-top: 5px;
   padding: 25px 25px;
   /* background-color: lightgoldenrodyellow;*/
   @extend .backgroundmains;
}

#sectioncarruselhistoria .carousel-item active {
   object-fit: cover;

}



/*-------------------------Termina el estilado de Historia-----------------------------*/


/*-------------------------carrousel presidentes-----------------------------*/
#sectioncarruselpreseidentes {
   margin-top: 5px;
   padding: 25px 25px;
   /* background-color: lightgoldenrodyellow;*/
   @extend .backgroundmains;

}

/*-----------------------carrpusel galeria------------------------------------*/

#sectioncarruselgaleria {
   margin-top: 5px;
   padding: 25px 25px;
   /*background-color: lightgoldenrodyellow;*/
   @extend .backgroundmains;
}

/*-------------------carrousel contacto-----------------------------------*/

#sectioncarruselcontacto {
   margin-top: 5px;
   padding: 25px 25px;
   /* background-color: lightgoldenrodyellow;*/
   @extend .backgroundmains;
}