@import '../general/mainbackgrounds.scss';

.mainfooter {

   /*background-color:lightgoldenrodyellow;*/
   @extend .backgroundmains;
   font-size: 10px;
   color: black;
   display: flex;
   justify-content: space-between;
}


.derechos p {

   font-size: medium;
}